.main-nav {
  font-family:  var(--font-header);
  font-weight: normal;
  font-size: 14px;
  background-color: white;
  padding-bottom: 7px;
}

.pointer{
  cursor: pointer;
}

.header-margin{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.search-form{
  display: flex;
  flex-direction: row;
  border: 1px solid #0082e6;
  border-radius: 20px;
  height: 36px;
  width: 626px;
  align-items: center;
}

.search-input{
  flex-grow: 2;
  height: inherit;
  margin: 0px 10px;
  border: none;
  background: transparent;
  font-size: 14px;
}

.search-input[type="search"]::placeholder{
  padding-left: 10px;
}

.search-input:focus{
  outline: none;
}

.search-icon{
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 18px;
  height: 18px;
  padding: 9px 17px;
}

.search-icon:hover{
  background-color: rgba(0, 130, 230, 0.2);
}

.icon-profile{
  background-color: #9c27b0;
  border-radius: 20px;
  width: 34px;
  height: 34px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-header);
  color: #ffffff;
}

.dropdown-text-color{
  color: #444444;
}

.icon-margin{
  margin-right: 5px;
}

.dropdown-icon{
  width: 22px;
  height: 20px;
}

.dropdown-margin{
  margin-top: 3px;
  margin-right: 10px;
  margin-left: 5px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
}
